include *.md
include *.sh
include *.txt
include *.py
include licence
include .pylintrc
include .vscode/settings.json
include Makefile
recursive-include tests
recursive-include dist *.gz
recursive-include tests *.csv
recursive-include tests *.yaml
recursive-include invenio_subjects_nasa *.csv
recursive-include invenio_subjects_nasa *.py
recursive-include invenio_subjects_nasa *.yaml
